* {
    margin: 0;
    padding: 0;
}

.imageBox {
    background-color: #553b61;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction:row;
    gap: 2%;
    flex-wrap: wrap;
}

.box1{
    position: relative;
    top: 0;
   width:40vmax;
}

.box2{
    position: relative;
    top: 0;
    display: flex;
    width: 50vmax;
    flex-direction: column;
    justify-content: center;
    animation: slideFromtop 1s ease forwards;
}

@keyframes slideFromtop {
    0% {
        top: -100%; 
    }
    100% {
        top: 0;
    }
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    animation: slideFromLeft 1s ease forwards;
}

@keyframes slideFromLeft {
    0% {
        left: -100%; 
    }
    100% {
        left: 0;
    }
}

.hii{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.5vmin;
    text-align:left;
}

.name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #1d9ce6, #e52e71);
    background-clip: text;
    color:transparent;
    font-size:18vmin;
    text-align:left;
}

.side{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: left;
    font-size: 3.5vmin;
}