*{
    margin: 0;
    padding: 0;
}
.nagivate{
    background-color: #553b61;
    width:100%;
    height:max-content;
    position:sticky;
    top: 0;
    z-index: 1;

}
.anchorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
    height:100%;
    padding: 1.2%;
}
.anchor{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.6rem;
    color: #ffffff;
    
    transition: all 0.1s ease-in-out;
}

.anchor:hover{
    text-decoration: overline;
    transform: rotate(-10deg);
    outline: none;
}