* {
    margin: 0;
    padding: 0;
}

.nagivate {
    background-image: url('./background_img.jpg');
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
}
.nagivateBlur{
    user-select: none;
    pointer-events: none;
    opacity: 0.8;
    filter: blur(5px);
    transition: all 0.3s ease-in-out;
}

.anchorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.anchor {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.anchor:hover {
    transform: translateY(-5px);
    outline: none;
}

.menuIcon {
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    height: 6vmin;
    width: 6vmin;
    z-index:2001;
    cursor: pointer;
}

.menuIcon:active {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;

}

.portfolioname {
    display: flex;
    width: 100%;
    height: 6vmin;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hideMenu {
    display: none;

}

.showmenu {
    display: flex;

}

.toddleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 6vmin;
    width: 6vmin;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.darkToddleButton {
   color: white;

}
.lightToddleButton{
    color: white;
}