* {
  margin: 0;
  padding: 0;
}

.nagivate {
  backdrop-filter: blur(20px);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.darkMode {
  color: white;
}
.lightMode {
  color: black;
}
.nagivateBlur {
  user-select: none;
  pointer-events: none;
  opacity: 0.8;
  filter: blur(5px);
  transition: all 0.3s ease-in-out;
}

.anchorContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  /* margin: 1% 0 1% 0; */
}

.anchor {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  padding: 1%;
}

.anchor:hover {
  outline: none;
  transform: scale(1.1);
}

.menuIcon {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 6vmin;
  width: 6vmin;
  z-index: 2001;
  cursor: pointer;
}
.menuIcon:active {
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
}

.portfolioname {
  display: flex;
  width: 100%;
  height: 6vmin;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hideMenu {
  display: none;
}

.showmenu {
  display: flex;
}
.ButtonActiveDark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: black;
  color: white;
  cursor: pointer;
  border-radius: 300vmin;
  padding: 0.3rem;
  font-size: 3vmin;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
}
.ButtonActiveLight {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  color: black;
  cursor: pointer;
  border-radius: 300vmin;
  padding: 0.3rem;
  font-size: 3vmin;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
}
.ButtonDisableDark {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 3vmin;
  transition: transform 0.3s ease-in-out;
}
.ButtonDisableLight {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 3vmin;
  transition: transform 0.3s ease-in-out;
 
}
.buttonContainerDark {
  position: absolute;
  top: 20%;
  right: 0.5%;
  display: flex;
  flex-direction: row;
  border: 0.05vmin solid white;
  border-radius: 300vmin;
  gap: 1vmin;
}
.buttonContainerLight {
  position: absolute;
  top: 20%;
  right: 0.5%;
  display: flex;
  flex-direction: row;
  border: 0.05vmin solid black;
  border-radius: 300vmin;
  gap: 1vmin;
}
