* {
    margin: 0;
    padding: 0;
}

.project {
    background-color: #272838;
    padding-bottom:4rem;
    padding: 0 4% 0 4%;
}

.contentContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vmin;
    padding: 2rem 0 2rem 0;
}

.heading {
    padding: 1rem;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    color: white;

}
.line{
   border-color:white;
}
.projectContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    
}
.responsive{
    display: flex;
    justify-content:center;
    align-items: center;
}
.notResponsive{
    display: flex;
    justify-content:left;
    align-items: center;
}