
.mainContainer{
    width:21rem;
    background-color: rgb(252, 255, 251);
    border-radius: 0.5rem;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
}
.imgContainer{
    height: 17rem;
    width:100%;
}
.title{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap:0.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3%;
}
.label{
    font-size: 1.3rem;
    font-weight: bolder;
}
.discription{
    font-size: 1rem;
}
.anchorLink{
text-decoration: none;
color: black;
transition: all 0.3s ease-in-out;
}
.anchorLink:hover{
    text-decoration: none;
    transform: scale(1.05);
}