* {
    margin: 0;
    padding: 0;
}

.skills {
    display: flex;
    justify-content: center;
    align-items:left;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.881);
}

.heading {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5vmin;
    color: white;
    margin-left: 5%;
    padding-top: 2%;

}
.line{
   border-color:white;
   margin-right: 5%;
}
.contentSection{
    display: flex;
    justify-content:center;
    flex-direction: row;
    gap: 1vmin;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-bottom: 4%;
  
}

.Frontend{
    width:23rem;
    height:30vmin;
    border-radius: 2vmin;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    margin: 2%;
    padding: 1%;
    background-color: #bfc3ba1d;
}
.Backend{
    width:23rem;
    height:30vmin;
    border-radius: 2vmin;
    background-color: #bfc3ba1d;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin: 2%;
    padding: 1%;
    transition: all 0.3s ease-in-out;
}
.Database{
    width:23rem;
    height:30vmin;
    background-color: #bfc3ba1d;
    border-radius: 2vmin;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin: 2%;
    padding: 1%;
    transition: all 0.3s ease-in-out;
}
.Techtitles{
    color:rgb(164, 159, 159);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vmin;
}
.technologyContainer{
    width: 90%;
    height: 50vmin;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vmin;
}
.techHTML{
font-size:2vmin;
padding: 2%;
border-radius: 1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #e34c26;
color: #e34c26;
transition: all 0.3s ease-in-out;
}
.techHTML:hover{
    background-color: #e34c26;
    color:#ebebeb;
    transform: rotate(0);
}

.techCSS{
    font-size:2vmin;
padding: 2%;
border-radius: 1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #264de4;
color: #2965f1;
transition: all 0.3s ease-in-out;
}
.techCSS:hover{
    background-color: #264de4;
    color:#ebebeb;
    transform: rotate(0);
}
.techJS{
    font-size:2vmin;
padding: 2%;
border-radius: 1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #f0db4f;
color: #f0db4f;
transition: all 0.3s ease-in-out;
}
.techJS:hover{
    background-color: #f0db4f;
    color:#323330;
    transform: rotate(0);
}
.techTailwind{
    font-size:2vmin;
padding: 2%;
border-radius:  1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #18adde;
color: #18adde;
transition: all 0.3s ease-in-out;
}
.techTailwind:hover{
    background-color: #18adde;
    color:#ebebeb;
    transform: rotate(0);
}
.techBootstrap{
    font-size:2vmin;
padding: 2%;
border-radius:  1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #563d7c;
color: #563d7c;
transition: all 0.3s ease-in-out;
}
.techBootstrap:hover{
    background-color: #563d7c;
    color:#ffff;
    transform: rotate(0);
}
.techReact{
    font-size:2vmin;
padding: 2%;
border-radius:  1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #61dbfb;
color: #61dbfb;
transition: all 0.3s ease-in-out;
}
.techReact:hover{
    background-color: #61dbfb;
    color:#ffff;
    transform: rotate(0);
}

.techDjango{
    font-size:2vmin;
padding: 2%;
border-radius:  1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #159866;
color: #159866;
transition: all 0.3s ease-in-out;
}
.techDjango:hover{
    background-color: #159866;
    color:#ffff;
    transform: rotate(0);
}
.techNode{
    font-size:2vmin;
padding: 2%;
border-radius:  1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #306428;
color: #306428;
transition: all 0.3s ease-in-out;
}
.techNode:hover{
    background-color: #306428;
    color:#2d3338;
    transform: rotate(0);
}
.techExpress{
    font-size:2vmin;
padding: 2%;
border-radius:  1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #f0db4f;
color: #f0db4f;
transition: all 0.3s ease-in-out;
}
.techExpress:hover{
    background-color: #f0db4f;
    color:#323330;
    transform: rotate(0);
}
.tecMySQLite{
    font-size:2vmin;
padding: 2%;
border-radius:  1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #1439b7;
color: #1439b7;
transition: all 0.3s ease-in-out;
}
.tecMySQLite:hover{
    background-color: #1439b7;
    color:#0d2577;
    transform: rotate(0);
}
.techMongo{
    font-size:2vmin;
padding: 2%;
border-radius:  1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #00ed64;
color: #00ed64;
transition: all 0.3s ease-in-out;
}
.techMongo:hover{
    background-color: #00ed64;
    color:#001e2b;
    transform: rotate(0);
}
.techPostgres{
    font-size:2vmin;
padding: 2%;
border-radius:  1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #2965f1;
color: #2965f1;
transition: all 0.3s ease-in-out;
}
.techPostgres:hover{
    background-color: #2965f1;
    color:#000000;
    transform: rotate(0);
}
.techMySQL{
    font-size:2vmin;
padding: 2%;
border-radius:  1vmin;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #f29111;
color: #f29111;
transition: all 0.3s ease-in-out;
}
.techMySQL:hover{
    background-color: #f29111;
    color:#00758f;
    transform: rotate(0);
}