* {
  margin: 0;
  padding: 0;
}

.skillsDark {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: row;
  background-color: #121319;
  padding-bottom: 4rem;
}
.skillsLight {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: #ffffff;
  padding-bottom: 4rem;
}
.skillsBlur {
  user-select: none;
  pointer-events: none;
  opacity: 0.8;
  filter: blur(5px);
  transition: all 0.3s ease-in-out;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 4% 0 4%;
  transition: all 0.3s ease-in-out;
}
.headingDark {
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: white;
  padding: 1rem;
}
.headingLight {
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: black;
  padding: 1rem;
}
.line {
  border-color: white;
}
.contentSection {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 5vmin;
}
.responsive {
  justify-content: center;
  align-items: center;
}
.notResponsive {
  justify-content: left;
  align-items: left;
}
.FrontendDark {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  border-radius: 0.8rem;
  padding: 5vmin;
  /* background-color: black; */
  box-shadow: 5px 5px 5px -3px rgb(0, 85, 241);
  /* border: solid 1px rgb(56, 121, 241); */
}
.FrontendLight {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  border-radius: 0.8rem;
  padding: 5vmin;
  /* background-color: rgb(250, 249, 249); */
  box-shadow: 5px 5px 5px -3px rgb(0, 85, 241);
  /* border: solid 1px rgb(0, 0, 0); */
}

.BackendDark {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  border-radius: 0.8rem;
  padding: 5vmin;
  box-shadow: 5px 5px 5px -3px rgb(0, 85, 241);
}
.BackendLight {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  border-radius: 0.8rem;
  padding: 5vmin;
  box-shadow: 5px 5px 5px -3px rgb(0, 85, 241);
}
.DatabaseDark {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  border-radius: 0.8rem;
  padding: 5vmin;
  box-shadow: 5px 5px 5px -3px rgb(0, 85, 241);
}
.DatabaseLight {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  border-radius: 0.8rem;
  padding: 5vmin;
  box-shadow: 5px 5px 5px -3px rgb(0, 85, 241);
}
.Techtitles {
  /* color: rgb(243, 243, 243); */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 120%;
  padding: 1.5vmin 1.5vmin 1.5vmin 4vmin;
  border-radius: 0.8rem 0.8rem 0 0;
}
.technologyContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vmin;
}
.techHTML {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #e34c26;
  color: #e34c26;
}
.techHTML:hover {
  background-color: #e34c26;
  color: #ebebeb;
  transform: rotate(0);
}

.techCSS {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #5a7bfe;
  color: #5a7bfe;
}
.techCSS:hover {
  background-color: #5a7bfe;
  color: #ebebeb;
  transform: rotate(0);
}
.techJS {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #f0db4f;
  color: #f0db4f;
}
.techJS:hover {
  background-color: #f0db4f;
  color: #323330;
  transform: rotate(0);
}
.techTailwind {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #18adde;
  color: #18adde;
}
.techTailwind:hover {
  background-color: #18adde;
  color: #ebebeb;
  transform: rotate(0);
}
.techBootstrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #ac7cf4;
  color: #ac7cf4;
}
.techBootstrap:hover {
  background-color: #ac7cf4;
  color: #ffff;
  transform: rotate(0);
}
.techMui {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #3568c7;
  color: #3568c7;
}
.techMui:hover {
  background-color: #3568c7;
  color: #ffff;
  transform: rotate(0);
}
.techReact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #61dbfb;
  color: #61dbfb;
}
.techReact:hover {
  background-color: #61dbfb;
  color: #ffff;
  transform: rotate(0);
}

.techDjango {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #69f6c0;
  color: #69f6c0;
}
.techDjango:hover {
  background-color: #69f6c0;
  color: #262323;
  transform: rotate(0);
}
.techNode {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #82c378;
  color: #82c378;
}
.techNode:hover {
  background-color: #82c378;
  color: #080e0b;
  transform: rotate(0);
}
.techExpress {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #f0db4f;
  color: #f0db4f;
}
.techExpress:hover {
  background-color: #f0db4f;
  color: #323330;
  transform: rotate(0);
}
.tecMySQLite {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #7393ff;
  color: #7393ff;
}
.tecMySQLite:hover {
  background-color: #7393ff;
  color: #0a0a0a;
  transform: rotate(0);
}
.techMongo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #00ed64;
  color: #00ed64;
}
.techMongo:hover {
  background-color: #00ed64;
  color: #001e2b;
  transform: rotate(0);
}
.techPostgres {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #9392bd;
  color: #9392bd;
}
.techPostgres:hover {
  background-color: #9392bd;
  color: #000000;
  transform: rotate(0);
}
.techMySQL {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
  padding: 2vmin;
  border-radius: 0.6vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #f29111;
  color: #f29111;
}
.techMySQL:hover {
  background-color: #f29111;
  color: #00758f;
  transform: rotate(0);
}
.visible {
  transform: translateY(0);
  opacity: 1;
  transition: transform 1s ease-out;
}
.notVisible {
  opacity: 0;
  transform: translateX(-50%);
  transition: transform 1s ease-out;
}